
// FRAMEWORK_SEARCH_PATHS
FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(inherited) $(PROJECT_DIR)/Carthage/Build/Mac
IPHONE_FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS
FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(IPHONE_FRAMEWORK_SEARCH_PATHS)
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(IPHONE_FRAMEWORK_SEARCH_PATHS)