#include "base_shared.xcconfig"

MACOSX_DEPLOYMENT_TARGET = 10.12
SDKROOT = macosx
VALID_ARCHS = i386 x86_64
ARCHS = i386 x86_64

COMBINE_HIDPI_IMAGES = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/Mac